body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-banner {
  background-color: rgb(90, 85, 85);
  color: white;
  text-align: center;
}
.nav1 {
  color: white;
  font-style: oblique;
  font-size: xx-large;
  background-color: rgba(10, 139, 10, 0.877);
  text-align: center;
}
.navbar {
  background-color: rgb(253, 249, 249);
  width: 220px;
  min-height: 650px;
}
.login-card {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}